flask
python-dotenv
langchain
langchain_community
langgraph
langchain-openai
langchain-google-genai
faiss-cpu
pandas
sqlalchemy
pydantic
requests
flask-cors
PyJWT
gunicorn
python-dotenv
psycopg2-binary
torch --extra-index-url https://download.pytorch.org/whl/cpu